.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    width: 400px;
padding: 40px;
border: 2px solid lightgray;
/* gap: 50px; */
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}